<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <form action="/users/edit" th:object="${user}" method="post">
        <input type="hidden" th:field="${user.id}">
        <label>
            <span>Username</span>
            <input type="text" id="username" name="username" th:field="${user.username}" required>
        </label>
        <label>
            <span>Password</span>
            <input type="text" name="password" th:field="${user.password}" required>
        </label>
        <button type="submit">Submit</button>
        <a href="/users"><button type="button">Cancel</button></a>
    </form>
    <p th:if="${message}" th:text="${message}"></p>
</body>
</html>